<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>190100582290-b2gv1loorua43bqssh3k0oejs2tv0kib.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190100582290-b2gv1loorua43bqssh3k0oejs2tv0kib</string>
	<key>API_KEY</key>
	<string>AIzaSyAHqS1W4Ucka3HBvye-sph1JqNDWBjFe-g</string>
	<key>GCM_SENDER_ID</key>
	<string>190100582290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Yang.org.FirebaseEmail</string>
	<key>PROJECT_ID</key>
	<string>fir-email-c6142</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-email-c6142.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190100582290:ios:8cbcce5603794a38d61b4b</string>
	<key>DATABASE_URL</key>
	<string>https://fir-email-c6142.firebaseio.com</string>
</dict>
</plist>